<div class="info-page">
  <h2>INFO</h2>
  <div class="info-section">
    <p><strong>Argumentos:</strong></p>
    <ul>
      {{#each args}}
        <li>{{@index}}: {{this}}</li>
      {{/each}}
    </ul>
    <p><strong>Sistema operativo: </strong>{{os}}</p>
    <p><strong>Versión de node.js: </strong>{{node}}</p>
    <p><strong>Memoria total reservada: </strong>{{mem}} bytes</p>
    <p><strong>Path de ejecución: </strong>{{path}}</p>
    <p><strong>Process id: </strong>{{id}}</p>
    <p><strong>Carpeta del proyecto: </strong>{{dir}}</p>
    <p><strong>Número de procesadores: </strong>{{numCpus}}</p>
  </div>
  <a href="/"><button>Volver</button></a>
</div>