{{#each msjs}}
  <div class="chat">
    <span class="e-mail">{{this.author.id}} </span>
    <span class="fecha">[{{this.date}}]: </span>
    <span class="mensaje">{{this.text}}</span>
    <div class="avatar"><img
        src={{this.author.avatar}}
        alt="Foto de"
        {{this.author.id}}
        class="foto-avatar"
      /></div>
  </div>
{{/each}}